#header-group-wrapper{
  height: 252px;
  margin-left: -6px;
}
#header-group{
  border: solid 2px #BEB8A2;
  border-top: none;
  width: 968px;
  position: relative;
  z-index: 800;
-webkit-box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    0px 10px 20px rgba(50, 50, 50, 0.55);
box-shadow:         0px 10px 20px rgba(50, 50, 50, 0.55);
border-radius: 3px;
}
#header-group-inner{
  position: relative;

}
#header-site-info{
  height: 197px;
}
#header_overlay{
  background: url(../images/bg_header.jpg) no-repeat;
  width: 968px;
  height: 197px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}
/* HOME SLIDESHOW */
#block-views-home_page_ddblock-block_2{
  width: 678px;
}
.view-id-home_page_ddblock{
  position: relative;
}
/* PREV BUTTON */
#views_slideshow_controls_text_previous_home_page_ddblock-block_2, #views_slideshow_controls_text_next_home_page_ddblock-block_2{
  width: 78px;
  height: 61px;
  background-image: url(../images/slide-controls.png);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -999px;
  position: absolute;
  z-index: 999;
}
#views_slideshow_controls_text_previous_home_page_ddblock-block_2{
  background-position: top right;
  bottom: 10px;
  left: 0px;
}
#views_slideshow_controls_text_previous_home_page_ddblock-block_2:hover{
  background-position: bottom right;
}
/* PAUSE BUTTON */
#views_slideshow_controls_text_pause_home_page_ddblock-block_2{
  display: none;
}
/* NEXT BUTTON */
#views_slideshow_controls_text_next_home_page_ddblock-block_2{
  background-position: top left;
  bottom: 10px;
  right: 0px;
}
#views_slideshow_controls_text_next_home_page_ddblock-block_2:hover{
  background-position: bottom left;
}
/* page: */
.page-inner{
  -webkit-box-shadow:0 0 200px #000; 
  -moz-box-shadow: 0 0 200px #000; 
  box-shadow:0 0 200px #000; 
}
.node-type-testimonial .field-field-images {
float:right;
padding-left: 10px;
}
#content-inner.block, #panel-pane .content{
  margin-bottom: 0px;
}
#content-region{
  padding-top: 20px;
}
ul.galleries{
  margin-left: 10px;
}
#node-testimonial-nav{
  text-align: center;
  padding-bottom: 20px;
}
#sidebar-last .views-field-view-node, #block-views-News-block_1 .views-field-view-node{
  text-align: right;
}
#content-group{
  background: url(../images/bg_content_aztec.gif) repeat-y;
}
#content-group .content p, #content-group .content li{
  font-size: 110%;
}
#content-group .content li p{
  font-size: 100%;
}
#main-content-inner{
  background: url(../images/bg_sidebar_last.png) top right repeat-y;
}
#content-group-inner{
  padding-bottom: 20px;
}
div.ddblock-cycle-upright10 div.slide-read-more a{
background:url(../images/readmore.png) no-repeat;
border:none;
bottom:5px;
color:#fff;
font-size:13px;
font-family: Arial,Helvetica,Verdana,sans-serif;
margin:0;
padding: 1px 0 4px 15px;
position:absolute;
text-decoration:none;
text-align:left;
width:100px;
}
div.ddblock-cycle-upright10 div.slide-read-more a:hover{
  background:url(../images/readmore-hover.png) no-repeat;
  text-decoration:underline;
}
div.ddblock-cycle-upright10 div.slide-read-more-horizontal a{
  left: 530px; 
}
/* SIDE BLOCKS */
#sidebar-last-inner .block, #content-bottom .block{
  overflow: visible;
}
.rounded-corners-shadow .inner,
#content-inner-inner,
#block-panels_mini-pizza_oven_footer > .inner,
#block-panels_mini-fireplace_footer > .inner{
  -webkit-box-shadow: 1px 1px 5px rgba(41, 39, 36, 0.8);
  -moz-box-shadow:    1px 1px 5px rgba(41, 39, 36, 0.8);
  box-shadow:         1px 1px 5px rgba(41, 39, 36, 0.8);
  border: solid 1px #c0baa4;
  border-radius: 4px;
  padding: 10px;
}
#sidebar-last .rounded-corners-shadow a{
  text-decoration: none;
} 
#content-inner-inner{
  margin-bottom: 20px;
}
/* HOME VIDEO BLOCK */
#block-block-5 .inner{
  padding: 0px;
}
/* FOOTER */
.footer-wrapper {
  background: url(../images/bg_primary_menu.jpg) #BFBAAC;
  color: #383815;
  padding: 10px 0 0 0;
}
#footer{
background: url(../images/bg_footer_pattern.png) center 15px repeat-x;
padding-top: 60px;
}
.footer-message-wrapper {
  display: none;
}
#mini-panel-footer_panel,
#footer .panel-col-bottom{
  border-top: 1px solid #ACA99E;
}
#mini-panel-footer_panel h2{
  margin: 0px 40px;
  padding: 10px 0px;
  border-bottom: 1px solid #ACA99E;
  font-size: 180%;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active{
  color: #383815;
}
#footer .readmore a{
  color: #fff;
}
.foot_top {
border-bottom: 1px solid #ACA99E;
height: 125px;
}
.foot_bot {
height: 112px;
padding: 10px;
margin-top: 10px;
}
.fires_bot {
height: 240px;
}
.foot_aztec p,
.foot_bot p{
  margin: 0px;
}

.readmore a:link, .readmore a:visited{
  border: solid 1px #CA3610;
  color: #fff;
  background: #ff7d3a; /* Old browsers */
background: -moz-linear-gradient(top,  #ff7d3a 0%, #f16522 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7d3a), color-stop(100%,#f16522)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff7d3a 0%,#f16522 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff7d3a 0%,#f16522 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff7d3a 0%,#f16522 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff7d3a 0%,#f16522 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d3a', endColorstr='#f16522',GradientType=0 ); /* IE6-9 */
display: inline-block;
text-decoration: none;
padding: 3px 10px;
border-radius: 3px;
  -webkit-box-shadow:0 0 3px #000; 
  -moz-box-shadow: 0 0 3px #000; 
  box-shadow:0 0 3px #000;
}
.readmore a:hover, .readmore a:active{
  box-shadow: none; 
}
.r{
  float: right;
}
.view-attached-images img {
border: 1px solid #000;
}
/* Pizza/fire menu footers */
.content_footer {
text-align:center;
font-weight:bold;
min-height:35px;
}